* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Epilogue", sans-serif;
}

.body {
  background-color: hsl(0deg, 0%, 98%);
}
.body-header {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  padding: 2em 1em;
  position: fixed;
  z-index: 1;
}
.body-header::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: red;
}
.body-header-logo {
  width: clamp(5em, 8%, 9em);
  object-fit: contain;
}
.body-header-menu {
  position: absolute;
  right: 1em;
  object-fit: contain;
  width: clamp(40px, 5%, 53px);
  z-index: 1;
}
.body-header-nav {
  width: 70%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 5em 0;
  background-color: hsl(0deg, 0%, 98%);
}
.body-header-nav-wrap {
  display: none;
  background-color: rgba(24, 21, 52, 0.5);
}
.body-header-nav-wrap.open {
  display: flex;
}
.body-header-nav-element:hover {
  color: hsl(0deg, 0%, 8%);
}
.body-header-nav-element, .body-header-nav-feature, .body-header-nav-company, .body-header-nav-buttons {
  padding: 1em 3em;
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  font-size: clamp(0.91rem, 0.75rem + 0.68vw, 1.6rem);
  font-weight: 500;
  text-decoration: none;
}
.body-header-nav-feature, .body-header-nav-company {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.body-header-nav-feature-text, .body-header-nav-company-text {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}
.body-header-nav-feature-subnav-li, .body-header-nav-company-subnav-li {
  padding: 2em;
  list-style-type: none;
}
.body-header-nav-feature-subnav-li:hover, .body-header-nav-company-subnav-li:hover {
  color: hsl(0deg, 0%, 8%);
}
.body-header-nav-feature-subnav-li img, .body-header-nav-company-subnav-li img {
  padding-right: 1em;
}
.body-header-nav-feature-subnav-wrap, .body-header-nav-company-subnav-wrap {
  display: block;
}
.body-header-nav-feature-subnav-wrap.hide, .body-header-nav-company-subnav-wrap.hide {
  display: none;
}
.body-header-nav-feature:hover p, .body-header-nav-company:hover p {
  color: hsl(0deg, 0%, 8%);
}
.body-header-nav-feature:hover svg path, .body-header-nav-company:hover svg path {
  stroke: hsl(0deg, 0%, 8%);
  transition: transform 200ms;
  transform: rotate(-180deg);
  transform-origin: center;
}
.body-header-nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.body-header-nav-buttons-login {
  color: hsl(0deg, 0%, 41%);
  background-color: transparent;
  border-radius: 12px;
  padding: 0.5em 1em;
  color: hsl(0deg, 0%, 41%);
  font-size: clamp(0.91rem, 0.75rem + 0.68vw, 1.6rem);
  font-weight: 500;
  text-decoration: none;
  border: none;
}
.body-header-nav-buttons-login:hover {
  cursor: pointer;
  border-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
  background-color: transparent;
}
.body-header-nav-buttons-register {
  color: hsl(0deg, 0%, 41%);
  background-color: transparent;
  border-radius: 12px;
  padding: 0.5em 1em;
  color: hsl(0deg, 0%, 41%);
  font-size: clamp(0.91rem, 0.75rem + 0.68vw, 1.6rem);
  font-weight: 500;
  text-decoration: none;
  border: 1px hsl(0deg, 0%, 41%) solid;
}
.body-header-nav-buttons-register:hover {
  cursor: pointer;
  border-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
  background-color: transparent;
}
.body-main {
  display: grid;
  grid-template: "img img img img" auto "tit tit tit tit" "desc desc desc desc" ". btn btn ." "br1 br2 br3 br4";
  gap: 3em;
  justify-content: center;
  align-items: center;
}
.body-main-illus {
  background: url("../images/image-hero-mobile.png") center/cover no-repeat;
  width: 100%;
  height: 35em;
  grid-area: img;
}
.body-main-title {
  grid-area: tit;
}
.body-main-desc {
  grid-area: desc;
}
.body-main-button {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  border-radius: 12px;
  padding: 0.5em 1em;
  color: hsl(0deg, 0%, 98%);
  font-size: clamp(0.91rem, 0.75rem + 0.68vw, 1.6rem);
  font-weight: 500;
  text-decoration: none;
  border: 1px hsl(0deg, 0%, 98%) solid;
}
.body-main-button:hover {
  cursor: pointer;
  border-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
  background-color: transparent;
}
.body-main-button {
  grid-area: btn;
  width: 100%;
  justify-self: center;
}
.body-main-brand:nth-of-type(1) {
  grid-area: br1;
  justify-self: center;
}
.body-main-brand:nth-of-type(2) {
  grid-area: br2;
  justify-self: center;
}
.body-main-brand:nth-of-type(3) {
  grid-area: br3;
  justify-self: center;
}
.body-main-brand:nth-of-type(4) {
  grid-area: br4;
  justify-self: center;
}

@media screen and (min-width: 1440px) {
  .body-header {
    justify-content: flex-start;
    gap: 3em;
  }
  .body-header-menu {
    display: none;
  }
  .body-header-nav {
    overflow: visible;
    gap: 2em;
    width: 100%;
    flex-direction: row;
    padding: 2em 0;
  }
  .body-header-nav-wrap {
    position: relative;
    flex-grow: 1;
    display: flex;
    background-color: transparent;
  }
  .body-header-nav-feature, .body-header-nav-company {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    position: relative;
  }
  .body-header-nav-feature-subnav, .body-header-nav-company-subnav {
    background-color: white;
    padding: 1.3em;
    border-radius: 15px;
    box-shadow: 5px 5px 50px 1px hsl(0deg, 0%, 41%);
  }
  .body-header-nav-feature-subnav-wrap, .body-header-nav-company-subnav-wrap {
    position: absolute;
    top: 0;
    padding-top: 2em;
  }
  .body-header-nav-feature-subnav-wrap[class*=feature], .body-header-nav-company-subnav-wrap[class*=feature] {
    right: 0;
    left: -7em;
  }
  .body-header-nav-feature-subnav-wrap[class*=company], .body-header-nav-company-subnav-wrap[class*=company] {
    right: -3em;
    left: 0;
  }
  .body-header-nav-feature-subnav-li, .body-header-nav-company-subnav-li {
    padding: 0.9em;
    font-size: clamp(0.76rem, 0.64rem + 0.51vw, 1.28rem);
  }
  .body-header-nav-element, .body-header-nav-feature, .body-header-nav-company, .body-header-nav-buttons {
    padding: 0;
    align-self: center;
  }
  .body-header-nav-buttons {
    flex-direction: row;
    margin-left: auto;
  }
}

/*# sourceMappingURL=main.css.map */
