@use "variables.scss" as var;

@mixin flex($gap: 0) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}
@mixin flex-col($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin text-style($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-decoration: none;
}
@mixin hover-state($color, $first-child: &, $second-child: &) {
    // first child is main element
    // second child is icon in hover element
    @if $first-child != & {
        &:hover #{$first-child} {
            color: $color;
        }
        @if $second-child != & {
            &:hover #{$second-child} {
                stroke: $color;
        
                transition: transform 200ms;
                transform: rotate(-180deg);
                transform-origin: center;
            }
        }
    }
    @else {
        &:hover {
            color: $color;
        }
    }

}
@mixin button-style($element: &, $color: var.$almost-black, $background: transparent, $border: "none") {
    $string: $element;
    @if $element != & {$string: unquote($element);}

    #{$string} {
        color: $color;
        background-color: $background;
        // border: none;
        border: 2px var.$almost-black solid;
        @if $border == "none" {
            border-color: transparent;
        }
        &:hover {
            cursor: pointer;
            background-color: var.$medium-gray;
            color: var.$almost-white;
            border: var.$medium-gray;
        }
        border-radius: 15px;
        padding: 2em;
    }
}