@use "variables.scss" as var;

@mixin flex($gap: 0) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}
@mixin flex-center($gap: 0) {
    @include flex($gap);
    justify-content: center;
    align-items: center;
}
@mixin flex-col($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin text-style($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-decoration: none;
    line-height: 1.3;
    word-spacing: 3px;
    letter-spacing: 2px;
}
@mixin hover-state($color, $first-child: &, $second-child: &) {
    // first child is main element
    // second child is icon in hover element
    @if $first-child != & {
        // if choosing all children
        $first-child: unquote($first-child);
        @if str-index($first-child, "&") {
            #{$first-child}:hover {
                color: $color;
            }
        }
        // if only choose some children
        @else {
            &:hover #{$first-child} {
                color: $color;
            }
            @if $second-child != & {
                &:hover #{$second-child} {
                    stroke: $color;
            
                    transition: transform 200ms;
                    transform: rotate(-180deg);
                    transform-origin: center;
                }
            }
        }
    }
    @else {
        &:hover {
            color: $color;
        }
    }

}
@mixin button-style($element: &, $color: var.$medium-gray, $border: "none", $background: transparent) {
    @if $element != & {$element: unquote($element);}
    #{$element} {
        color: $color;
        background-color: $background;
        border-radius: 20px;
        padding: 0.5em 1em;
        @include text-style($color, var.$step--2, 500);
        
        @if $border != "none" {
            border: 1px $color solid;
        }
        @else {
            border: none;
        }
        &:hover {
            cursor: pointer;
            border-color: var.$almost-black;
            color: var.$almost-black;
            background-color: transparent;
        }
    }
}