@use "variables.scss" as var;
@use "mixins.scss" as mi;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Epilogue', sans-serif;
}
.body {
    background-color: var.$almost-white;
    // position: relative;
    &-header {
        @include mi.flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        position: fixed;
        left: 0;
        right: 0;
        height: var.$nav-height;
        top: 0;
        z-index: 1;

        padding: 2em 1em;
        &::after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            display: none;
        }
        &.open {
            height: 100%;
            align-items: flex-start;
            &::after {
                display: block;
                background-color: rgba(24, 21, 52, 0.5);
            }
            .body-header-nav {
                display: flex;
            }
        }
        &-logo {
            width: clamp(5em, 8%, 9em);
            object-fit: contain;
        }
        &-menu {
            position: absolute;
            right: 1em;
            object-fit: contain;
            width: clamp(40px, 5%, 53px);
            z-index: 1;

        }
        &-nav {
            width: 70%;
            overflow: scroll;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            @include mi.flex-col(1em);
            padding: 5em 0;
            display: none;

            background-color: var.$almost-white;
            @include mi.hover-state(var.$almost-black, "&-element");
            &-element, &-feature, &-company, &-buttons {
                padding: 1em 3em;
                text-decoration: none;
                @include mi.text-style(var.$medium-gray, var.$step--2, 500);
            }
            &-feature, &-company {
                @include mi.flex-col(1em);
                &-text {
                    @include mi.flex(0.5em);
                    align-items: center;
                }

                &-subnav {
                    &-li {
                        padding: 2em;
                        list-style-type: none;

                        @include mi.hover-state(var.$almost-black);
                        & img {
                            padding-right: 1em;
                        }
                    }
                    &-wrap {
                        display: block;
                        &.hide {
                            display: none;
                        }
                    }
                }
                @include mi.hover-state(var.$almost-black, p, svg path);
            }

            &-buttons {
                @include mi.flex-col(2em);
                @include mi.button-style("&-login");
                @include mi.button-style("&-register", var.$medium-gray, "yes");
            }
        }
    }

    // main
    &-main {
        margin-top: var.$nav-height;
        width: 100%;
        display: grid;
        grid-template: 
        "img img img img" auto
        ". tit tit ." auto
        "desc desc desc desc" auto
        ". btn btn ." auto
        "br1 br2 br3 br4" auto;
        justify-content: space-between;
        align-items: center;
        row-gap: 1.5em;
        
        &-illus {
            background: url("../images/image-hero-mobile.png") top center / cover no-repeat;
            width: 100%;
            // height: 35em;
            height: 17em;
            grid-area: img;
            margin-bottom: 2.3em;
        }
        &-title {
            grid-area: tit;
            @include mi.text-style(var.$almost-black, var.$step-0, 700);
            text-align: center;
            justify-self: center;
        }
        &-desc {
            grid-area: desc;
            justify-self: center;
            @include mi.text-style(var.$almost-black, var.$step--2, 500);
            text-align: center;

        }

        @include mi.button-style("&-button", var.$almost-white, "yes", var.$almost-black);
        &-button {
            grid-area: btn;
            // width: 50%;
            width: 100%;
            justify-self: center;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }
        @for $var from 1 to 5 {
            &-brand:nth-of-type(#{$var}) {
                grid-area: br#{$var};
                justify-self: center;
                width: 50%;
            }
        }

    }

    // footer
    &-footer {
        padding: 3em 0;
        text-align: center;
        font-size: var.$step--3;
        & a {
            font-size: var.$step--2;
            color:brown;
            text-decoration: none;
            &:hover {
                color:darkblue;
            }
        }
    }
}
@media screen and (min-width: 500px){
    .body {
        &-main {
            &-illus {
                height: 35em;
            }
            &-button {
                width: 60%;
            }
        }
    }
}
@media screen and (min-width: 1440px){
    .body {
        &-header {
            justify-content: flex-start;
            gap: 3em;
            &-menu {
                display: none;
            }
            &-nav {
                overflow: visible;
                // &-wrap {
                //     position: relative;
                //     flex-grow: 1;
                //     display: flex;
                //     background-color: transparent;
                // }
                width: 100%;
                position: relative;
                gap: 2em;
                flex-direction: row;
                display: flex;
                padding: 2em 0;
                &-feature, &-company {
                    @include mi.flex-col(2em);
                    justify-content: center;
                    position: relative;

                    &-subnav {
                        &-wrap {
                            position: absolute;
                            top: 0;
                            &[class*="feature"] {
                                right: 0;
                                left: -7em;
                            }
                            &[class*="company"] {
                                right: -3em;
                                left: 0;
                            }
                            padding-top: 2em;
                        }
                        background-color: white;
                        padding: 1.3em;
                        border-radius: 15px;
                        box-shadow: 5px 5px 50px 1px var.$medium-gray;
                        &-li {
                            padding: 0.9em;
                            font-size: var.$step--3;
                        }
                    }
                }
                &-element, &-feature, &-company, &-buttons {
                    padding: 0;
                    align-self: center;
                }
                &-buttons {
                    flex-direction: row;
                    margin-left: auto;
                }
            }

        }
        &-main {
            padding: 5em 2em;
            grid-template: 
            "tit tit tit tit img" auto
            "desc desc desc . img" auto
            "btn btn . . img" auto
            "br1 br2 br3 br4 img" auto/
            0.4fr 0.4fr 0.4fr 0.4fr 2fr;
            gap: 0;
            &-illus {
                margin-bottom: 0;
                object-fit: contain;
                background-image: url("../images/image-hero-desktop.png");
                background-size: 40em 50em;
                height: 50em;
            }
            &-title, &-desc {
                text-align: left;
                justify-self: left;
            }
            &-title {
                align-self: flex-end;
            }
            &-button {
                justify-self: left;
                width: 80%;
                align-self: flex-start;
            }
            @for $var from 1 to 5 {
                &-brand:nth-of-type(#{$var}) {
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (min-width: 1800px){
    .body {
        &-main {
            padding: 5em 10em;

        }
    }
}